.intro {
    position: absolute;
    top: 25%;
    padding-left: 40px;
}

.intro button:hover{
    animation: rotate 2s;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}