body {
  --body-bg: #7ba2e8;
  --body-bg2: #3065af;
  --col-1: #021254;
  --col-2-top: #adabb9;
  --col-2-bottom: #fdfdfd;
  --col-3: #131014;
  background-image: linear-gradient(
    to right,
    var(--body-bg),
    var(--col-2-top),
    var(--body-bg)
  );
  line-height: normal;
}

body,
section,
figure,
img,
div,
article,
h5 {
  margin: 0;
}

h5 {
  padding-left: 10px;
}

a {
  text-decoration: none;
  margin: 5px;
  color: #adabb9;
  display: inline-block;
}

a:hover {
  color: #adabb9;
  text-decoration: none;
}

/* .image{
    width: 100%;
    height: 550px;
    background: transparent;
} */

.right {
  float: right;
}

section h2.section-heading {
  font-size: 5vw !important;
  margin-top: 0;
  margin-bottom: 15px;
}

.col-3 {
  width: 5%;
  background-color: var(--col-3);
  height: 100%;
  position: fixed;
  right: 40px;
  top: 40px;
  text-align: start;
}

.col-2 {
  width: 61.6%;
  height: 705px;
  position: absolute;
  right: 5%;
  padding: 0px;
}

.col-2-top {
  background-color: var(--col-2-top);
}

.col-2-bottom {
  background-color: var(--col-2-bottom);
  color: var(--col-3);
}

.col-1 {
  background-color: var(--col-1);
  width: 31.4%;
  min-height: 100%;
  position: fixed;
  top: 40px;
  padding: 4%;
}

.wrapper {
  margin: 40px;
  min-height: 705px;
  position: relative;
  color: #fdfdfd;
}

#social {
  position: absolute;
  bottom: 3vh;
  margin: 40px;
}

.intro {
  /* position: absolute; */
  width: 150%;
  line-height: 0.8;
}

.intro button {
  width: 30%;
  height: 60px;
  border: 1px solid #fdfdfd;
  background: none;
}

.bigfont {
  font-size: 7vw;
}

.blue {
  color: #3b8ede;
}
h2 {
  margin: 3px;
  padding: 0px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(61, 101, 175, 0.8);
}
#footer p {
  font-size: 2vw;
}

@media screen and (max-width: 420px) {
  .bigfont {
    font-size: 3vw;
  }
  #social {
    bottom: 3vh;
    margin: 0px;
  }
  .col-1 {
    width: 77.9%;
    height: 100%;
    position: absolute;
    top: 40px;
    padding: 4%;
    z-index: -2;
  }
  .col-3 {
    width: 22%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: -4;
  }
  .col-2 {
    width: 100%;
    height: 705px;
    position: absolute;
    right: 0px;
    padding: 0%;
    top: 104%;
  }
  #footer p {
    font-size: 3vw;
  }
  main {
    min-width: 100%;
  }
  .wrapper {
    max-height: 100vh;
    min-height: 100vh;
  }
}

@media screen and (max-height: 400px) {
  .col-2 {
    top: 110%;
  }
}
